*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

input[type='text'] {
  font-size: 16px;
}

html {
  background-color: rgb(250, 250, 250);
}
